body {
  margin: 0;
}

/* BLOCK 1 HEADER */

/* BLOCK 2 CONTEINER TABS */

/* BLOCK 3 MEDIA */

/* BLOCK 4 SUBSCRIBE */
#div_subscribe {
  width: 100%;
  height: 200px;
  background-color: rgba(27, 175, 222, 0.8);
  color: white;
}
.left_subscribe {
  width: 49%;
  height: 100%;
  float: left;
}
#h1_subscribe {
  margin: auto;
  margin-left: 145px;
  position: absolute;
  top: 10px;
}
#foto_1_subscribe {
  height: 88px;
  margin-left: 140px;
  margin-top: 66px;
}
#foto_2_subscribe {
  height: 88px;
  margin-left: 10px;
  margin-top: 66px;
}
.right_subscribe {
  width: 49%;
  height: 100%;
  float: right;
  font-size: 19px;
}
#p_subscribe {
  text-indent: 24px;
}


/* BLOCK 5 WHAT WE DO */

/* BLOCK 6 OUR TEAM */
.top_team {
  text-align: center;
  height: 1000px;
  width: 100%;
  background-color: #1F1D1D;
}
.div_head_team {
  height: 100px;
  width: 100%;
}
#header {
  margin-top: 0;
  color: white;
  position: relative;
  top: 55px;
}
.men_team_1 {
  margin-left: 120px;
  margin-top: 40px;
  height: 100%;
  width: 237px;
  color: rgba(27, 175, 222, 0.8);
  float: left;
}
.men_team_2 {
  height: 100%;
  width: 237px;
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  color: rgba(27, 175, 222, 0.8);

}
.men_team_3 {
  height: 100%;
  width: 237px;
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  color: rgba(27, 175, 222, 0.8);
}
.men_team_4 {
  height: 100%;
  width: 237px;
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  color: rgba(27, 175, 222, 0.8);
}
#span_team {
  color: rgba(27, 175, 222, 0.8);
}
.p_team {
  text-align: left;
  color: white;
}
.read_team {
  float: left;
  text-decoration: none;
  color: rgba(27, 175, 222, 0.8);
}
.older_team {
  clear: both;
  margin-left: 118px;
  margin-top: 75px;
  text-decoration: none;
  float: left;
  color: rgba(27, 175, 222, 0.8);
}
#button_team {
  clear: both;
  width: 223px;
  height: 50px;
  margin-top: 0;
  border: 2px rgba(27, 175, 222, 0.8) solid;
  border-radius: 5px;
  margin-left: 540px;

}
#button_team a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 25px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: rgba(27, 175, 222, 0.8);

}

/* BLOCK 7 COMMENT */

/* BLOCK 8 FACEBOOK WIDGET */

/* BLOCK 9 OUR PARTNERS */
#block_partners {
  height: 385px;
  background: #d8d7d5;
}

#content_partners {
  width: 1160px;
  height: 100%;
  margin: auto;
}

#text_partners {
  width: 235px;
  height: 40px;
  margin: auto;
  position: relative;
  top: 45px;
}

#text_partners h1 {
  margin: 0;
  color: #393735;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

#text_partners h1 span {
  color : #6ab2de;
}

#blockImages_partners {
  width: 1015px;
  height: 195px;
  margin: 100px auto;

}

.images_partners {
  width: 195px;
  height: 195px;
  border-radius: 195px;
  background: #2d2c2a;
  float: left;
  margin-left: 107.5px;

}

.images_partners p {
  width: 135px;
  margin-left: 30px;
  margin-top: 60px;
  color: white;
  text-align: center;
  font-size: 30px;

}

.images_partners p:hover {
  cursor: default;
}

/* BLOCK 10 OUR CONTACTS */

#block_contacts {
  height: 440px;
  background: #181918;
  overflow: hidden;
}

#content_contacts {
  width: 1160px;
  height: 100%;
  margin: auto;
}

#text_contacts {
  width: 470px;
  height: 315px;
  position: relative;
  top: 70px;
  float: left;
  margin-left: 130px;
}


#text_contacts h1 {
  margin: 0;
  color: white;
  font-size: 35px;
  font-weight: 500;
  font-family: sans-serif;
}

#text_contacts h1 span {
  color : #6ab2de;
}

#text_contacts p {
  margin-top: 60px;
  color: #b5b0aa;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 25px;
}

#call_contacts {
  width: 365px;
  height: 210px;
  margin-top: 75px;
  float: right;
  margin-right: 110px;
}

#call_contacts h1 {
  margin: 0;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#button_contacts {
  width: 355px;
  height: 50px;
  margin-top: 80px;
  border: 3px white solid;
  border-radius: 10px;
}

#button_contacts a {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 50px;

}

/* BLOCK 11 FOOTER */

#block_copyring {
  height: 55px;
  background: #232322;
}

#text_copyring {
  width: 325px;
  height: 100%;
  margin: auto;
}

#text_copyring span {
  display: block;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  line-height: 55px;
}
